<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#777" />
      </svg>

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#777" />
      </svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#777" />
      </svg>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="banner-btm-grid-w3ls "> <!--banner-btm-grid-w3ls -->
    <div class="clock text-center">
      <h1>Lorem ipsum</h1>
      <div id="time"></div>
      <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual
        form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
        placeholder before final copy is available.</p>
    </div>
  </div>
</div>

<section class="team text-center py-5">
  <div class="container">
    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ 'active': ['grid', 'grid1', 'grid2'].includes(activeTab)}">
          <select #teams (change)="onSelected($event)">
            <option *ngFor="let client of clients" value="{{client.name}}">
              {{client.value}}
            </option>
          </select>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#list" [ngClass]="{ 'active':activeTab==='list'}" (click)="list('list')">Search</a>
      </li>
    </ul>

    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content">
      <div class="tab-pane fade" id="grid" [ngClass]="{'show active':activeTab==='grid'}">
        <div class="header my-5">
          <h1>Meet our Team Group 1</h1>
          <p class="text-muted">Meet and Greet our Team Members</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Zain Knob</h4>
                <p class="text-muted">Mechanical Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Syndia Lee</h4>
                <p class="text-muted">Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Noel Flantier</h4>
                <p class="text-muted">Joomla Specialist</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Bobby Doe</h4>
                <p class="text-muted">Street Artist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="grid1" [ngClass]="{ 'show active':activeTab==='grid1'}">
        <div class="header my-5">
          <h1>Meet our Team Group 2</h1>
          <p class="text-muted">Meet and Greet our Team Members</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Zain Knob</h4>
                <p class="text-muted">Mechanical Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Syndia Lee</h4>
                <p class="text-muted">Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Noel Flantier</h4>
                <p class="text-muted">Joomla Specialist</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Bobby Doe</h4>
                <p class="text-muted">Street Artist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="grid2" [ngClass]="{ 'show active':activeTab==='grid2'}">
        <div class="header my-5">
          <h1>Meet our Team Group 3</h1>
          <p class="text-muted">Meet and Greet our Team Members</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Zain Knob</h4>
                <p class="text-muted">Mechanical Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Syndia Lee</h4>
                <p class="text-muted">Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Noel Flantier</h4>
                <p class="text-muted">Joomla Specialist</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="content mt-2">
                <h4>Bobby Doe</h4>
                <p class="text-muted">Street Artist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list" [ngClass]="{ 'show active':activeTab==='list'}">
        <div *ngFor="let mani of emp">
          <div>
            <p>{{mani?.alphabet}}</p>
            <p *ngFor="let group of mani.record"> {{ group?.name }}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabs content -->
  </div>

</section>

<section>
  <div class="container text-center chartpie">
    <div class="row">
      <div class="col-md-6 col-lg-6" *ngFor="let item of Pies; let i = index + 1">
        <div class="p-3">
          <div class="pie animate no-round" style="--p:{{item.value}};--c:black;--b:15px">
            <div class="num{{i+1}}"></div>
          </div>
          <h3>GE Center</h3>
          <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual</p>
        </div>
      </div>
    </div>
  </div>
</section>


<hr>

<!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Phi Ta, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>